<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ExpandType</key>
		<false/>
		<key>TypeName</key>
		<string>工地情况反馈</string>
		<key>Content</key>
		<array>
			<dict>
				<key>ServerKey</key>
				<string>teacherName</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>0</integer>
				<key>TextName</key>
				<string>师傅姓名</string>
				<key>Position</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>idCardNum</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>身份证号</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>married</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>0</integer>
				<key>TextName</key>
				<string>婚姻状况</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>hasChildren</string>
				<key>Value</key>
				<string></string>
				<key>Options</key>
				<array>
					<string>有</string>
					<string>无</string>
				</array>
				<key>StyleType</key>
				<integer>2</integer>
				<key>TextName</key>
				<string>子女</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<array>
					<string>nativeProvince</string>
					<string>nativeCity</string>
				</array>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>0</integer>
				<key>TextName</key>
				<string>籍贯</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>nativeType</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>0</integer>
				<key>TextName</key>
				<string>户籍类型</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>nativeDetailLocation</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>户籍地址</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>detailLocation</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>现居住地址</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>highEducation</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>学历</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>graduateSchool</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>毕业学校</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>profession</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>所属专业</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>wechat</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>微信</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>emergencyContact</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>紧急联系人</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>emergencyTel</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>联系人电话</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
