<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ExpandType</key>
		<false/>
		<key>TypeName</key>
		<string>实习计划登记</string>
		<key>Content</key>
		<array>
			<dict>
				<key>ServerKey</key>
				<string>startTime</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>0</integer>
				<key>TextName</key>
				<string>开始时间</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>endTime</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>0</integer>
				<key>TextName</key>
				<string>结束时间</string>
				<key>Position</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>company</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>实习单位</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>area</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>所在地区</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ServerKey</key>
				<string>address</string>
				<key>Value</key>
				<string></string>
				<key>StyleType</key>
				<integer>1</integer>
				<key>TextName</key>
				<string>详细地址</string>
				<key>Position</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
